/*body{*/
    background-color: #333333;
    color: #e2e2e2;
    font-family: 'Inconsolata', Arial, serif;
    font-family: 'PT Mono', Arial, serif;
}

#dnaBlock{
  position: absolute;

  /*
  width: 980px;
  height: 980px;
  color: #efefef;
  */
}

#exStringMatch{
  text-align: center;
}

#containerInput{
  height: 500px;
  background-image: url("assets/img/dna_bg.png");
  background-color: #000000;
  background-repeate: none;
}

#svg_text_wall{
  padding-top: 220px;
  background-color: #acacac;
}

#svg_text_wall svg{
  fill: #efefef;

}

.highlight {
  fill: red;
  font-weight: bold;
}
