/*body{*/
    background-color: #333333;
    color: #e2e2e2;
    font-family: 'Inconsolata', Arial, serif;
    font-family: 'PT Mono', Arial, serif;
}

#dnaBlock{
  position: absolute;

  /*
  width: 980px;
  height: 980px;
  color: #efefef;
  */
}

#exStringMatch{
  text-align: center;
}

#exStringMatch svg{
  fill: white;
  text-size: 48;
  height: 500px;
  background-color: black;
}

#containerInput{
  height: 200px;
  background-image: url("assets/img/dna_bg.jpg");
  background-color: #000000;
  background-repeate: none;
}


#svg_sample_container{
  position: absolute;
  z-index: 1000;
  background-color: #4A4A4A;
  opacity: 0.75;
  width: 500px;
  height: 500px;

}

#svg_sample_container svg{
  color: white;
}

#svg_text_wall{
  padding-top: 220px;
  background-color: #acacac;
}

#svg_text_wall svg{
  fill: #efefef;

}

tspan{
  fill: #F80554;
}

.highlight {
  fill: #F80554;
  font-weight: bold;
}
